/* Desktop */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  transition: background-color 800ms ease;
}
:root {
  --primary-color: #07477a;
  --primary-rbga-color: rgba(7, 70, 122, 0.281);
  --second-color: rgba(174, 182, 196, 0.7);
  --text-color: #deeef1;
}
li {
  list-style: none;
}
.container {
  background-image: url(./images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
header {
  height: 15vh;
  width: 100%;
  z-index: 999;
  position: fixed;
}
.header-bar {
  height: 10%;
  width: 100%;
  background-color: var(--primary-color);
}
.header-content {
  display: flex;
  justify-content: space-between;
  height: 90%;
  width: 100%;
  align-items: center;
}
.burger {
  width: 50px;
  height: 50px;
  background-color: var(--second-color);
  padding: 8px;
}
.burger div.menu-bar {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 500ms ease;
}
div.bar {
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  transition: all 500ms ease;
}
div.br-1 {
  top: 4px;
}
div.br-2 {
  top: 15px;
}
div.br-3 {
  bottom: 4px;
}
/* For annimation purpose  */
.close div.br-1 {
  top: 4px;
  /* transform: translateY(10px) rotate(45deg); */
  transform: rotate(-405deg) translate(-10px, 7px);
}
.close div.br-2 {
  opacity: 0;
}
.close div.br-3 {
  /* transform: translateY(15px) rotate(135deg); */
  transform: rotate(405deg) translate(-9px, -6px);
}

.current-time {
  width: 150px;
  height: 100%;
  background-color: var(--primary-color);
  padding: 5px;
  text-align: center;
  color: white;
}
h1.current-town {
  font-size: 15px;
  font-weight: 400;
}
h2.current-town-time {
  font-size: 2rem;
  font-weight: 600;
}
/* Settinsg */
.settings {
  position: fixed;
  top: 15vh;
  left: 0;
  width: 180px;
  height: 250px;
  background-color: var(--second-color);
  padding: 10px;
  transform: translateX(-100%);
  transition: all 500ms;
  z-index: 999;
}
/* settings css to activate and desactivate */
/* .set-desactivate {
  transform: translateX(-100%);
} */
.set-active {
  transform: translateX(0);
}
.settings div.color {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.color img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 3px solid var(--second-color);
}
div.color img:hover {
  border: 3px solid var(--primary-color);
  border-radius: 100%;
  transition: border 500ms ease;
}
div.color img.active {
  border: 3px solid var(--primary-color);
  border-radius: 100%;
}
.settings h3 {
  font-size: 14px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 10px;
}
.settings div.set-sound {
  padding-top: 30px;
  display: grid;
  place-items: center;
}

/* maim content */
.main {
  display: flex;
  height: 100%;
}
.set-black {
  transition: all 10s ease-in-out;
}
.set-black::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-left {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: flex-end;
}
.main-left-content {
  width: 70%;
  height: 90%;
  margin: 0 auto;
  padding: 10px;
}
.main-left div.search-section {
  width: 100%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.auto-complete-ground {
  position: absolute;
  width: 100%;
  /* bottom: 1px; */
  top: 69px;
  background-color: var(--primary-color);
  z-index: 30;
  display: none;
}
.auto-active {
  display: inline-block;
}
.auto-complete-ground li {
  color: var(--text-color);
  border-top: 1px solid var(--second-color);
  padding: 5px 10px;
  cursor: pointer;
}
.main-left div.search-section div.search {
  width: 100%;
  height: 35px;
  background-color: var(--second-color);
  display: flex;
}
.main-left div.search-section input {
  height: 100%;
  background-color: transparent;
  outline: none;
  flex: 1;
  color: var(--primary-color);
  font-size: 18px;
  padding: 10px;
  letter-spacing: 1px;
  border: none;
}
.main-left div.search-section button {
  height: 100%;
  width: 120px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}
.main-left div.search-section button:hover {
  background-color: transparent;
  color: var(--primary-color);
  transition: background-color 300ms cubic-bezier(0.66, 0.33, 0.64, 1.46);
}

.main-left div.result {
  width: 100%;
  height: 85%;
  color: white;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
div.res-top {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
div.res-top img {
  margin-bottom: 40px;
}
.res-top h1 {
  font-size: 10rem;
  font-weight: 200;
}
.res-top div.temp-description {
  display: flex;
  flex-direction: column-reverse;
}
.res-top h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 45px 0;
}

div.res-bottom {
  height: 30%;
  width: 100%;
  font-size: 16px;
  padding-top: 20px;
  font-weight: 200;
}

div.res-bottom h3 {
  padding-bottom: 10px;
}

.main-right {
  width: 40%;
  height: 100%;
  background-color: var(--primary-rgba-color);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: flex-end;
}
.main-right div.right-content-saved {
  width: 90%;
  margin: 0 auto;
  height: 80%;
}
/* css for the navigation bar on the right section */
.right-content-navigation {
  width: 100%;
  margin-bottom: 10px;
}

.right-content-navigation .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--primary-rbga-color);
  border-radius: 20px;
}
.navigation li {
  width: 33.5%;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  color: var(--text-color);
  cursor: pointer;
}
.navigation li.active {
  background-color: var(--primary-color);
}
/* .cards{
  overflow-y: scroll;
} */
.card {
  background-color: var(--second-color);
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.card-city {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
}
div.card-city-name {
  color: var(--primary-color);
}
div.date {
  color: var(--text-color);
  padding-top: 40px;
  padding-left: 10px;
}
.card h1.name {
  font-size: 18px;
  font-weight: 400;
}
.card h2.time {
  font-size: 30px;
}

.card-temp {
  height: 100%;
  width: 50%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: flex-end;
}
.card-temp h2 {
  font-size: 45px;
  font-weight: 600;
}
.temp-icon {
  padding-top: 15px;
}
/* card favorite display */
.no-fav {
  color: red;
  font-size: 20px;
  text-align: center;
}
/* tablets */
@media screen and (max-width: 1024px) {
  .main-left {
    width: 50%;
  }
  .main-left-content {
    width: 90%;
    padding: 0;
  }
  .res-top h2 {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .main-right {
    width: 50%;
  }
  /* search section area */
  .auto-complete-ground {
    top: 50px;
  }
}
/* mobile */
@media screen and (max-width: 810px) {
  .main {
    flex-direction: column;
  }
  .main-left {
    height: auto;
    width: 100%;
  }
  .main-left-content {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    padding-top: 20vh;
  }
  .main-right {
    width: 100%;
    height: auto;
  }
  div.res-top {
    height: 60%;
    flex-direction: column;
  }
  .res-top h1 {
    font-size: 10rem;
    width: 100%;
    text-align: center;
  }

  div.res-bottom {
    height: 40%;
    text-align: center;
  }

  .main-right div.right-content-saved {
    height: 97%;
  }

  .burger {
    margin-left: 20px;
  }
  .header-content {
    background-color: var(--primary-color);
    box-shadow: 0px 20px 1rem rgba(0, 0, 0, 0.274);
  }

  div.res-top img {
    margin-bottom: 0;
  }

  .res-top div.temp-description {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }
  .res-top h2 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 18px;
  }

  .main-left div.search-section input {
    background-color: var(--text-color);
  }

  .main-right {
    background-color: var(--primary-color);
  }
  .right-content-navigation .navigation {
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
  }
  .navigation li.active {
    background-color: var(--primary-color);
  }
  /* search section area */
  .auto-complete-ground {
    top: 37px;
  }
  /* card responsive */
  /* .card {
    background-color: var(--second-color);
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  } */
  .card-city {
    flex-direction: column;
  }

  div.date {
    padding-top: 0px;
    padding-left: 0;
  }
  .card h1.name {
    font-size: 18px;
    font-weight: 400;
  }
  .card h2.time {
    font-size: 30px;
  }
  .card-temp {
    justify-content: center;
  }
  .card-temp h2 {
    font-size: 30px;
  }
  .temp-icon img {
    width: 50px;
    height: 50px;
  }
}
